@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
	box-sizing: border-box;
}

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

html {
	padding: 0;
	scroll-behavior: smooth !important;
}

body {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
}

::selection {
	@apply bg-base-300;
}

nav a,
h2,
h3 {
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.15rem;
	@apply font-extrabold;
}

a {
	transition: 0.2s ease-in-out;
}

a:hover {
	@apply text-accent;
}

a:focus,
input:focus,
input.input:focus,
textarea:focus,
textarea.input:focus,
button:focus {
	@apply outline-2 outline-offset-2 outline-dashed outline-primary;
}

h1 {
	letter-spacing: 0.2rem;
	@apply relative font-extrabold text-3xl md:text-4xl text-primary text-left w-fit mb-3;
}

h2 {
	letter-spacing: 0.2rem;
	@apply relative font-bold text-2xl md:text-3xl text-secondary text-center mx-auto w-fit;
}

h2:after,
h1:after {
	display: block;
	content: "";
	width: 100%;
	height: 60%;
	z-index: -1;
	position: absolute;
	bottom: -2px;
	left: 10px;
	filter: blur(2px);
}

h3 {
	@apply font-bold text-xl md:text-xl text-primary text-left w-full;
}

h4 {
	@apply font-bold text-xl text-primary text-left;
}

main {
	z-index: 10;
}

input[type="text"],
input[type="email"],
textarea {
	@apply p-3 border-2 border-base-200 rounded-md bg-base-100;
}

.gradient-bg {
	@apply bg-gradient-to-r from-gradient-start to-accent;
}

.skip-to-main-content-link {
	@apply bg-base-100 z-50 opacity-0 w-full text-center font-bold absolute left-[-9999px] py-6 text-current;
}

.skip-to-main-content-link:focus {
	left: 50%;
	transform: translateX(-50%);
	opacity: 1;
}

/* Scrollbar */

html::-webkit-scrollbar-track,
.overflow-auto::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	@apply bg-neutral;
}

html::-webkit-scrollbar,
.overflow-auto::-webkit-scrollbar {
	width: 10px;
	@apply bg-neutral;
}

html::-webkit-scrollbar-thumb,
.overflow-auto::-webkit-scrollbar-thumb {
	@apply bg-primary;
	background-image: -webkit-linear-gradient(45deg,
			rgba(255, 255, 255, .2) 25%,
			transparent 25%,
			transparent 50%,
			rgba(255, 255, 255, .2) 50%,
			rgba(255, 255, 255, .2) 75%,
			transparent 75%,
			transparent)
}